<html>
    <head>
        <title>Aide Piano</title>
    </head>
    <body>
        <div id="app">
            <img src="./circle.png" height="500px" />
            <div>
                <button
                    v-for="(key, index) in keyboard"
                    @click="selected = index"
                >
                    {{getKey(index)}}
                </button>
            </div>

            <h2>Majeur</h2>
            <ul>
                <li v-for="(notes, note) in getHarmonies('major', selected)">
                    {{getKey(note)}} :
                    <span v-for="n in notes">{{getKey(n)}} </span>
                </li>
            </ul>

            <h2>Mineur</h2>
            <ul>
                <li v-for="(notes, note) in getHarmonies('minor', selected)">
                    {{getKey(note)}} :
                    <span v-for="n in notes">{{getKey(n)}} </span>
                </li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <script>
            window.onload = () => {
                new Vue({
                    el: "#app",
                    data: {
                        keyboard: [
                            "DO",
                            "DO#",
                            "RE",
                            "RE#",
                            "MI",
                            "FA",
                            "FA#",
                            "SOL",
                            "SOL#",
                            "LA",
                            "LA#",
                            "SI",
                        ],
                        harmonies: {
                            major: {
                                0: [0, 5, 9],
                                2: [2, 7],
                                4: [0, 5],
                                5: [2, 5],
                                7: [0, 7, 4],
                                9: [5, 9],
                                11: [7],
                            },
                            minor: {
                                0: [0, 5, 9],
                                2: [2, 7],
                                3: [0, 5],
                                5: [2, 5],
                                7: [0, 7, 4],
                                8: [5, 9],
                                10: [7],
                            },
                        },
                        selected: null,
                    },
                    methods: {
                        getHarmonies(harmony = "major", fondamentale = 0) {
                            let harm = {}

                            for (let i in this.harmonies[harmony]) {
                                harm[i * 1 + fondamentale] = this.harmonies[
                                    harmony
                                ][i].map((a) => a * 1 + fondamentale)
                            }

                            return harm
                        },
                        getKey(index) {
                            return this.keyboard[index % this.keyboard.length]
                        },
                    },
                })
            }
        </script>
    </body>
</html>
